/*
* HOMEPAGE CSS
*/

/* MISSION STATEMENT */

.mission-statement p {
  text-align: center;
  float: center;
  font-size: 20px;
  font-style: italic;
  margin-left: 100px;
  margin-right: 100px;
  color: #5A5D9E;
}

/* SUMMARY */

.summary {
  margin-top: 50px;
}

.summary:after {
  content: "";
  display: table;
  clear: both;
}

.three-columns {
  float: left;
  width: 33.33%;
  background-color: #E7E6E6;
  height: 500px;
  border: 2px solid white;
}

.three-columns button {

  background-color: #5A5D9E;
  border: 1px solid #5A5D9E;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition-duration:0.4s;
}

.three-columns button:hover {
  background-color: #7E7FB0;
  color: white;
  }

.three-columns .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-columns h1 {
  font-size: 30px;
  color: #5A5D9E;
}

.three-columns p {
  padding-left: 18px;
  padding-right: 18px;
  line-height: 1.5;
}

/* SEGMENTATION & PATHOLOGY IMAGES */

.row-images {
  margin-top: 20px;
}

.row-images:after {
  content: "";
  display: table;
  clear: both;
}

.two-columns {
  float: left;
  width: 50%;
  background-color: white;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: top;

}

#homepage-images {
  width: 50%;
  height: auto;
}

.caption {
    display: block;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}